<nav class="navbar  ">
    <div  class="container-fluid ">
      <div class="brand" href="#">Navbar</div>
      
       <div class="link-container">
        <a class="nav-link active" aria-current="page" href="#">Home</a>
     
        <a class="nav-link" href="#">Link</a>   
       </div>
           
         
        <!--
        <form class="d-flex">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>-->
      </div>
  </nav>
  <app-test></app-test>

