<div class="container-fluid">
  <div class="card">
      <div class="title">
          <div class="icon-container">
            <mat-icon style="font-size: 40px; display: flex ; justify-content: center; align-items: center; color: white;">https</mat-icon>
          </div>
          <h1>Log-In</h1>
          <mat-icon style="font-size: 40px; display: flex ; justify-content: center; align-items: center; color: white;" svgIcon="thumb-up">
          </mat-icon>
      </div>
    <form>
      <div class="UserName">
        <mat-form-field style="width: 400px !important; font-size: 20px;">
          <input matInput placeholder="UserName" />
        </mat-form-field>
      </div>
      <div class="Password">
        <mat-form-field style="width: 400px !important; font-size: 20px; padding: 15px 0;" >
          <input matInput placeholder="Password" />
        </mat-form-field>
      </div>
      <button type="submit">Submit</button>
      <h4>Need an account :<a routerLink="/Register"> Sign-In</a></h4>
      <h4> <a routerLink="">Forget Password?</a></h4>
    </form>
  </div>
</div>
