<div class="container-fluid">
  <div class="container">
    <div class="content-cotainer">
      <div class="events-container">
        <div class="event">
          <div class="img-container">
            <img
              class="img-thumbnail img-fluid"
              src="../assets/events.jpg"
              alt="event image"
            />
          </div>
          <p>here some infos about the event</p>
        </div>
        <div class="separate"></div>
        <div class="event">
          <div class="img-container">
            <img
              class="img-thumbnail img-fluid"
              src="../assets/events.jpg"
              alt="event image"
            />
          </div>
          <p>here some infos about the event</p>
        </div>
        <div class="separate"></div>
        <div class="event">
          <div class="img-container">
            <img
              class="img-thumbnail img-fluid"
              src="../assets/events.jpg"
              alt="event image"
            />
          </div>
          <p>here some infos about the event</p>
        </div>
        <div class="separate"></div>
        <div class="event">
          <div class="img-container">
            <img
              class="img-thumbnail img-fluid"
              src="../assets/events.jpg"
              alt="event image"
            />
          </div>
          <p>here some infos about the event</p>
        </div>
        <div class="separate"></div>
      </div>

      <div class="calendar-container">
        <div class="wrapper-calendar">
          <div class="header-calendar">
            <div>
              <button (click)="changeMonth(-1)" class="btn-prev">
                <mat-icon>keyboard_arrow_left</mat-icon>
              </button>
            </div>
            <div class="title">{{ dateSelect | date: "MMMM, yyyy" }}</div>
            <div>
              <button (click)="changeMonth(1)" class="btn-next">
                <mat-icon>keyboard_arrow_right</mat-icon>
              </button>
            </div>
          </div>
          <ol>
            <li *ngFor="let day of week" class="day-name">
              {{ day | slice: 0:3 }}
            </li>

            <li
              id="day"
              (click)="clickDay(day)"
              [style.gridColumnStart]="first ? day?.indexWeek : 'auto'"
              *ngFor="let day of monthSelect; let first = first"
            >
              <span [ngClass]="{ today: todayCheck(day?.value) }">{{
                day?.value
              }}</span>
            </li>
          </ol>
        </div>

        <!--  <hr />
        <div>Fecha: {{ dateValue | date }}</div>-->
      </div>
    </div>
  </div>
</div>
