.container-fluid {
  background-color: #000000;
  background-attachment: fixed;
  background-image: url(https://umaine.edu/wp-content/uploads/sites/2/2022/01/UMaine-Olympians-Centered-Logo.jpg);
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  position: relative;
}

.welcom-container {
  width: 50%;
  padding: 20px;
  margin-left: 100px;
  color: #fff;
}
.welcom-container h1 {
  position: relative;
  font-weight: 700;
}

.text-container {
  display: inline-block;
  padding: 30px;
  position: relative;
}

.text-container::before {
  position: absolute;
  content: "";
  width: 150%;
  height: 100%;
  left: -140px;
  top: 0;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 10px;
}
.text-container::after {
  position: absolute;
  content: "";
  width: 92px;
  height: 92px;
  transform: rotate(45deg);
  left: -190px;
  top: 8px;
  background-color: rgba(161, 66, 245, 0.7);
  border-radius: 5px;
}

button {
  display: block;
  color: white;
  padding: 20px 50px;
  border-radius: 10px;
  border: none;
  font-size: 20px;
  background: rgba(161, 66, 245, 0.7);
  font-weight: 700;
  margin: 10px;
  position: relative;
  transition: letter-spacing 0.3s, color 0.3s, border 0.1s, background 0.3s ease;
}

button:hover {
  letter-spacing: 2px;
  color: blueviolet;
  border: none;
  background: rgba(161, 66, 245, 0.1);
}
button::after {
  content: "";
  position: absolute;
  background-color: white;
  width: 0;
  height: 5px;
  top: 0;
  left: 0;
  border-radius: 5px;
  transition: width 0.3s;
}
button:hover::before,
button:hover::after {
  width: 100%;
}
button::before {
  content: "";
  position: absolute;
  background-color: white;
  width: 0;
  height: 5px;
  bottom: 0;
  right: 0;
  transition: width 0.3s;
  border-radius: 5px;
}
.title{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

@media (max-width: 1172px) {
  .text-container::after {
    width: 95px;
    height: 95px;
    top: 7px;
    left: -193px;
  }
}

@media (max-width: 1027px) {
  .text-container::after {
    width: 114px;
    height: 114px;
  }
}



@media (max-width: 1027px) {
  .text-container::after {
    width: 95px;
    height: 95px;
    top: 7px;
  }
  .text-container::before {
    width: 145%;
  }
}

@media (max-width: 745px) {
  .text-container::after {
    width: 108px;
    height: 108px;
    top: 16px;
  }
  .text-container::before {
    width: 125%;
  }
}